body{
    background:linear-gradient(to right,blue,skyblue);
}
.container{
    background-color: white;
    height: 400px;
    width: 50%;
    margin-left: 24%;
    margin-top: 12%;
    border-radius: 15px;
    padding: 14px 40px;
    max-width: 100%;
    padding: 50px 20px;
}
.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}
.btn{
    width: 150px;
    height: 40px;
    margin-top: 100px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.98);
}
.btn.focus{
    outline: 0;
}